<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUUw8OZ1RLpN9HhdXxcTLH54v_0ZWFKdU</string>
	<key>GCM_SENDER_ID</key>
	<string>245690159977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neechat</string>
	<key>PROJECT_ID</key>
	<string>nechat-70b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>nechat-70b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245690159977:ios:b10cfa30bbcde85a33a3f8</string>
</dict>
</plist>